# Terraform
terraform.tfvars
*.tfstate
*.tfstate.backup
.terraform/
*.tfstate.lock.info
.terraform.lock.hcl
crash.log

# Secrets
*.pem
*.key
*.p12
secrets/
.env
.env.*

# Docker
.dockerignore

# Node.js
node_modules/
npm-debug.log

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

k8s/configmaps/db-secret.yaml